.menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 40px;
}
.menu-logo{
    display: none;
}
.menu-list {
    position: static;
    flex-direction: row;
    width: auto;
    height: auto;
    opacity: 1; 
    pointer-events: all;
    background: none;
    gap: 1.5rem;
}
.menu-item a {
    font-size: 1rem; 
    font-weight: 500;
}
.lang-icon {
    display: inline-block; 
    margin-top: 0;
}

.logo{
    font-size: 1.5rem;
}
.hero-text{
    font-size: 1.2rem;
}
.hero-text.last {
    align-self: self-start;
}
.scroll {
    font-size: 1.1rem;
    font-weight: 400;
}
.scroll span{
    width: 1rem;
    height: 1rem;
    
}