.menu {
    flex-direction: row; /* horizontal en desktop */
    justify-content: space-between;
    padding: 26px 40px;
}
.menu-logo{
    display: none;
}
.menu-list {
    position: static;
    flex-direction: row;
    width: auto;
    height: auto;
    opacity: 1; /* visible siempre */
    pointer-events: all;
    background: none;
    gap: 1.5rem;
}
.menu-item a {
    font-size: 1rem; /* tamaño desktop */
    font-weight: 500;
}

.lang-icon {
    display: inline-block; /* visible en desktop */
    margin-top: 0;
}
