:root{
    --color-background: #E5E5DD;
    --color-text: #1a1a1a;
    --color-secondary-text: #888888;
    --color-accent: #1516FE;
    --color-highlights:#FFFFFF;
    --font-headings: 'Inter', sans-serif;
    --font-sections: 'Inter', sans-serif;
    --font-body1: 'Roboto', sans-serif;
    --font-body2: 'Playfair Display', serif;
}
.logo{
    font-size: 1.2rem;
}
.menu-logo{
    font-size: 1rem;
}
.hero-text{
    font-size: 1.2rem;
}
.hero-text.last {
    align-self: center;
    text-align: center;
}
.scroll {
    font-size: 1.3rem;
    font-weight: 500;
}
/* ==========================================================================
about.html
===================================== */
.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem; 
    align-items: start;
}
.about {
    height: auto; 
    padding: 2.5rem;
}
.about-content {
    padding: 2.5rem;
}
